<style>
#mainSidebar {
	display:none !important;
}
#branding {
	display:none !important;
}
.sidebar-toggle {
	display:none !important;
}

.navbar-brand {
 background: url("./images/navigationbg.jpg") repeat-x scroll 0 0 #000;
}
.app-body {
	padding-bottom:19px !important;
}
.app-content {
	background:#000;
}
.btn {
	background-color: #e30074;
    border-color: #a40154;
    color: #ffffff;
}
</style>
<div content-for="title"><img style="height:20px;" src="./img/kryptos-logo.png">&nbsp;&nbsp;<span style="color:#fff;">AppMaker</span></div>
<div content-for="navbarAction" >
	<div ng-click='klogout();' class="btn btn-navbar" ng-show="klogin">
  		<i class="fa fa-power-off fa-2x"></i>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content">
		<div class="list-group">
			<div class="list-group-item" style='background:url("{{backgroundUrl}}");background-size:100% 100%;'>
			  <img  src="{{brandingUrl}}" style="height:40px;" />
		  </div>

		  <div style="margin:10px 20px;color:#fff;background:#000;border:2px solid;border-radius:10px;padding:5px;box-shadow:0 0 10px #fff;"><label>Welcome to KRYPTOS App Maker.!!
		      <br/>You can launch your app using the Launch App button below to explore the features of your App powered by KRYPTOS Mobile.</label>
		    </div>
		  		  <div style="background:#000;" class="list-group-item">
		  			  <button ng-click="launchApp();" class="btn btn-block btn-primary btn-lg">Launch App</button>
		          <div style="margin-top:10px;margin-bottom:10px;height:1px;box-shadow:0 0 10px #fff;border-top:2px solid #fff;background:transparent;"></div>
		  		       <div style="box-shadow:0 0 20px #000;background:#000;" class="panel panel-primary">
		  		         <div class="panel-heading" style="background:#000;box-shadow:0 0 10px ">Actions
		  		         </div>
		  		         <div class="panel-body">
		  		  <div class="list-group-item">
		  		  			  <a href="#/applications" style="font-size:12px; color: #000;font-family: sans-serif;font-size: 14px;font-weight: bold;">
		  		  			  <i class="fa fa-sitemap fa-2x" style="width:50px;"></i>
		  		  			  Applications <i class="pull-right fa fa-chevron-right"></i></a>
		  		  		  </div>
		  		  			  <div class="list-group-item">
		  		  			  <span style="font-size:12px; color: #000;font-family: sans-serif;font-size: 14px;font-weight: bold;">
		  		  			  <i class="fa fa-cogs fa-2x" style="width:50px;"></i>
		  		  			  My Builds <i class="pull-right fa fa-chevron-right"></i></span>
		  		  		  </div>


		  		  			<div class="list-group-item">
		  		  			  <span style="font-size:12px; color: #000;font-family: sans-serif;font-size: 14px;font-weight: bold;">
		  		  			  <i class="fa fa-share-square-o fa-2x" style="width:50px;"></i>
		  		  			  App Activator <i class="pull-right fa fa-chevron-right"></i>
		  		  		  </span></div>

		                 <div class="list-group-item">
		  		  			  <span style="font-size:12px; color: #000;font-family: sans-serif;font-size: 14px;font-weight: bold;">
		  		  			  <i class="fa fa-tachometer fa-2x" style="width:50px;"></i>
		  		  			  Analytics <i class="pull-right fa fa-chevron-right"></i>
		  		  		  </span></div>

		  		         </div>
		  		      </div>
		  		      <a class="btn btn-block btn-info" href="#/amakerhome">Switch App</a>

  </div>

<!--
		  <div class="list-group-item" style="background:#000;color:#fff;margin-left:10px;margin-right:10px;">
			  <div class="btn-group justified nav-tabs">
			    <a class="btn1"><i class="fa fa-sitemap" style="width:50px;"></i></a>
			    <a class="btn1"><i class="fa fa-cogs" style="width:50px;"></i></a>
			    <a class="btn1"><i class="fa fa-globe" style="width:50px;"></i></a>
			    <a class="btn1"><i class="fa fa-mobile" style="width:50px;"></i></a>
			    <a class="btn1"><i class="fa fa-share-square-o" style="width:50px;"></i></a>
			</div>
		  </div>
			<div class="list-group-item" style="margin-left:10px;margin-right:10px;">
			  <h4>
			  <i class="fa fa-sitemap" style="width:50px;"></i>
			  Applications <i class="pull-right fa fa-chevron-right"></i></h4>
		  </div>
			  <div class="list-group-item" style="margin-left:10px;margin-right:10px;">
			  <h4>
			  <i class="fa fa-cogs" style="width:50px;"></i>
			  My Builds <i class="pull-right fa fa-chevron-right"></i></h4>
		  </div>
			<div class="list-group-item" style="margin-left:10px;margin-right:10px;">
			  <h4>
			  <i class="fa fa-globe" style="width:50px;"></i>
			  Universal Publisher <i class="pull-right fa fa-chevron-right"></i></h4>
		  </div>
			<div class="list-group-item" style="margin-left:10px;margin-right:10px;">
			  <h4>
			  <i class="fa fa-mobile" style="width:50px;"></i>
			  Device Publisher <i class="pull-right fa fa-chevron-right"></i></h4>
		  </div>
			<div class="list-group-item" style="margin-left:10px;margin-right:10px;">
			  <h4>
			  <i class="fa fa-share-square-o" style="width:50px;"></i>
			  App Activator <i class="pull-right fa fa-chevron-right"></i></h4>
		  </div>
		  -->
		</div>
	</div>
</div>